<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Car<span>Center</span></div>
		</div>
		<br>
        <form class="container-login" [formGroup]="data">
            <div class="login">
                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="primerNombre" placeholder="Primer nombre" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="segundoNombre" placeholder="Segundo nombre" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="primerApellido" placeholder="Primer apellido" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="segundoApellido" placeholder="Segundo apellido" class="height-form-field">
                </mat-form-field>


                <!-- <input formControlName="segundoNombre" type="text" placeholder="Segundo nombre" name="segundoNombre" ><br> -->
                <!-- <input formControlName="primerApellido" type="text" placeholder="Primer apellido" name="primerApellido"><br> -->
                <!-- <input formControlName="segundoApellido" type="text" placeholder="Segundo Apellido" name="segundoApellido"><br> -->
                <select name="miselect" formControlName="tipoDocumento" placeholder="Seleccione..." class="mat-select">
                    <option value="" disabled >Seleccione el documento...</option>
                    <option style="background-color: white; color:black" [value]="item" *ngFor="let item of lista">{{item}}</option>
                </select>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="documento" placeholder="Documento" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="celular" placeholder="Celular" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="direccion" placeholder="Dirección" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="correo" placeholder="Email" class="height-form-field">
                </mat-form-field>

                <mat-form-field appearance="outline" class="width-form-field">
                    <input matInput formControlName="contrasena" placeholder="Contraseña" class="height-form-field">
                </mat-form-field>

   
                <!-- <input formControlName="documento" type="number" placeholder="Documento" name="documento"><br> -->
                <!-- <input formControlName="celular" type="number" placeholder="Celular" name="celular"><br>
                <input formControlName="direccion" type="text" placeholder="Direccion" name="direccion"><br>
                <input formControlName="correo" type="text" placeholder="Correo" name="correo"><br>
                <input formControlName="contrasena" type="password" placeholder="Contraseña"><br> -->
				<button (click)="registrar()" [disabled]="data.invalid">
                    Registrar
                </button>
                <button (click)="regresar()">
                    Regresar
                </button>

    </div>
</form>

<div class="cargando" *ngIf="loading.activo">
    <div class="loagin">
      <div class="icono"><img src="/assets/car.png"/></div>
      <div class="sombra"></div>
      <div class="texto font_size_20">{{ loading.mensaje }}</div>
    </div>
</div>

		